* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f0e5;
  font-family: Tahoma;
}

header, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.secao {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

p {
  font-size: 1.7rem;
}

header .imagem-logotipo {
  width: 200px;
}
header a {
  margin: 0 10px;
  color: #542f0c;
  font-size: 1.8rem;
}
header h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-top: 1px solid #de8e37;
}
header h2 {
  font-weight: normal;
  color: #de8e37;
  margin: 12px 0;
  font-size: 2.3rem;
}
header .imagem-banner {
  max-width: 100%;
  margin-bottom: 15px;
}

main .secao-destaque {
  background-color: #de8e37;
  padding: 15px 10px;
  color: #fff;
}
main .secao-destaque div {
  text-align: center;
}
main .secao-destaque h3 {
  font-size: 2.4rem;
}
main .secao-destaque h4 {
  font-size: 2rem;
  margin: 10px 0;
  text-decoration: underline;
  color: #542f0c;
  text-align: left;
}
main .secao-destaque p {
  margin: 10px auto;
  line-height: 30px;
  text-align: center;
}
main .secao-destaque img {
  max-width: 80%;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

footer {
  background: #542f0c;
  color: white;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}
footer .contato {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 40px;
}
footer div {
  min-width: 250px;
}
footer h3 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  text-align: center;
}
footer p {
  line-height: 30px;
}
footer span {
  font-weight: bold;
  color: #de8e37;
}
footer a {
  color: #00E676;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.2rem;
}
footer .btn_contato a {
  background-color: #e2dcd5;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #e2dcd5;
  transition: 300ms ease-in-out;
}
footer .btn_contato a:hover {
  background: rgba(226, 220, 213, 0.5568627451);
}
footer .btn_contato .fa-square-whatsapp {
  margin-right: 5px;
  font-size: 30px;
}
footer img {
  border-radius: 5px;
}
footer .horario {
  text-decoration: underline;
}

.copy {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
.copy p {
  font-size: 1.1rem;
  margin-top: 10px;
}
.copy a {
  margin: 20px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 7px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
}
.up a {
  text-decoration: none;
  padding: 3px;
}
.up .fa-circle-up {
  color: #de8e37;
  background-color: white;
  border-radius: 30px;
}

.lgpd {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: #5180e0;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.lgpd h2 {
  color: white;
}
.lgpd a {
  color: white;
}
.lgpd button {
  background-color: #04a600;
  border: 2px solid #035254;
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 300ms ease-in-out;
}
.lgpd button:hover {
  background-color: #035254;
}/*# sourceMappingURL=padariaplus.css.map */