<!DOCTYPE html>

<html lang="pr-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="./style.min.css" type="text/css">

    <title>Layout 03</title>
</head>
<body>
    <header>Cabeçalho</header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Produtos</a>
        <a href="#">Sobre</a>
        <a href="#">Contato</a>
    </nav>
    <main>Principal</main>
    <aside>Relacionado</aside>
    <footer>Rodapé</footer>
</body>
</html>