html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

@import './var.scss';

body {
    background-color: $bg_bd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.8rem;
}
#calc {
    width: 400px;
    padding: 0.8rem;
    background-color: $bg_calc;
    color: $text_calc;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    h3 {
        font-size: 2rem;
        font-weight: 300;
        color: $cl_h3;
    }
}
#operation {
    text-align: right;

    #previous_operation,
    #current_operation {
        min-height: 2.5rem;
        padding: 0.4rem;
        overflow-wrap: break-word;
    }
    #previous_operation {
        color: $cl_h3;     
        font-size: 2.8rem;   
    }
    #current_operation {
        font-size: 4.8rem;
        font-weight: 700;
    }
}
#buttons_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;

    button {
        border: 1px solid transparent;
        border-radius: 0;
        height: 6.4rem;
        font-size: 2rem;
        background-color: $bg_btn;
        cursor: pointer;

        &:hover {
            background-color: #bababa;
            color: #282727;
        }
    }
    .number {
        background-color: #f3f3f3;
    }
    #equal_btn {
        grid-column: span 2;
        background-color: #75a5cb;
    }
}