//colors
$bg_bd: #333; // background-color do body
$bg_calc: #c4c4c4; // background-color da calculadora
$bg_btn: #dbdbdb; //background-color dos botões

$text_calc: #000; // color do texto da calc

$cl_h3: #666; // color h3 da calc