.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px 0;
    gap: 5px;
}