.aside {
    background-color: royalblue;
    grid-area: aside;
}

.aside_main {
    background-color: rgb(0, 90, 129);
    grid-area: aside_main;
}
.aside_sec {
    background-color: rgb(0, 252, 113);
    grid-area: aside_sec;
}