@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

nav, header, section, footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
h2 {
    text-transform: uppercase;
}
span {
    font-weight: bold;
}
p {
    text-align: justify;
    margin: 10px 0;
}
nav {
    background: #B0DDFC;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
nav img {
    width: 150px;
}
nav a {
    margin: 0px 5px;
    color: #1e4363;
    flex: 1 1;
    text-decoration: none;
    border-bottom: 2px solid #1e4363;
}
header div {
    width: 80%;
    margin: 0 auto;
}
header div img {
    width: 100%;
}
main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
section {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
section:nth-of-type(even) {
    background: #1D80C1;
}
section div {
    width: 80%;
    padding: 30px 10px;
}
.apresentacao img{
    width: 50%;
}
.apresentacao h1 {
    font-size: 30px;
}
.apresentacao h3 {
    font-weight: normal;
    font-size: 20px;
    color: #8ccdf8;
    margin-bottom: 10px;
}
.apresentacao span {
    color: #8ccdf8;
}
.servicos {
    color: white;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.servicos p {
    text-align: center;
}
.servicos span {
    color: yellow;
}
.servicos ul{
    display: inline-block;
}
.servicos ul li {
    text-align: left;
    margin: 10px 0;
}
.corretores img {
    width: 50%;
    margin: 10px 0;
}
footer { 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: #1D80C1;
    color: white;
    
}
footer div {
    width: 80%;
}
footer p {
    text-align: center;
    background: black;
    border-radius: 10px;
    padding: 10px;
}
footer ul {
    display: inline-block;
    list-style: none;
}
footer ul li {
    margin: 20px 0;    
}
footer span {
    color: yellow;
}
footer ul li a {
    background-color: white;
   color: #173e58;
   padding: 5px;
   border-radius: 10px; 
}
iframe {
    width: 70%;
    height:300px;
    border:none;
    margin: 10px 0;
}
.up {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 30px;
    height: 30px;

    position: fixed;
    bottom: 10px;
    right: 7px;


    border-radius: 50%;
        
    font-size: 25px;
    font-weight: 700;
}
.up a {
    text-decoration: none;
    padding: 3px;
}
.up .fa-circle-up {
    color: #173e58;
}
.copy {
    background: rgba(0, 0, 0, 0.699);
    color: white;
    text-align: center;
    padding: 10px;
}
.copy p.reser {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.copy a {
    margin: 20px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}