<!DOCTYPE html>

<html lang="pr-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="./style.min.css" type="text/css">

    <title>Layout 05</title>
</head>
<body>
   <main class="wraper">
        <header class="header grid-full"></header>

        <div class="hero"></div>

        <section class="highlights">
            <article class="c_highlights"></article>
            <article class="c_highlights"></article>
            <article class="c_highlights"></article>
            <article class="c_highlights"></article>
            <article class="c_highlights"></article>
        </section>

        <main class="main_content"></main>

        <aside class="aside expand_left">

        </aside>

        <footer class="footer grid-full"></footer>

   </main>
</body>
</html>