$fonte-fran: 'Fraunces', serif;
$fonte-lato: 'Lato', sans-serif;
$fonte-osw: 'Oswald', sans-serif;

$color-ma: #c4a47c;
$color02: #fff;
$color04: #000000;
$color05: #604829;
$color06: #666;
$color06: #ACACAC;

/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página */
nav {
    width: 100%;
    position: fixed;
    background-color: ;
}