@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: rgb(138, 201, 252);
    color: rgb(2, 24, 148);
}
header {
    height: 60px;
    text-align: center;
    width: 100%;
}
header h1 {
    /* background-color: grey; */
    width: 300px;
    border-bottom: 2px solid;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 5px;
}
.container-lista{
    background-color: antiquewhite;
    width: 600px;
    /* padding: 30px 50px; */
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    gap: 10px ;
    justify-content: center;
    border-radius: 20px;

}
.cabecalho-lista {
    background: grey;
    padding: 20px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cabecalho-lista h2 {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid;
}
.entrada_dados {
    padding: 10px 20px;
}
.entrada_dados input {
    width: 400px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;

}
.entrada_dados button {
    width: 130px;
    height: 40px;
    background-color: rgb(245, 150, 82);
    border-radius: 30px;
}
.lista {
    padding: 10px 30px;
}
.item_lista {
    background-color: rgb(104, 196, 85);
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    list-style: none;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(8, 9, 78);
}
footer 