@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    height: 100vh;
    background-color: #006d7b;
}

.menu_lateral {
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #FF0077;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: .2s;

    &:hover {
        width: 230px;
    }

    .btn_expandir {
        width: 100%;
        padding-left: 15px;
        margin-bottom: 10px;
       
        i {
            color: #fff;
            font-size: 24px;
            cursor: pointer;
        }
    }

    ul {
        height: 100%;
        list-style: none;
    }
    li.item_menu {
        transition: 0.2s;
        &:hover {
            background-color: #FF0077;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            padding: 20px 4%;
            display: flex;
            margin-bottom: 20px;
            line-height: 30px;

            & .txt_link {
                margin-left: 25px;
            }

            & .icon {
                i {
                    font-size: 30px;
                    margin-left: 10px;
                }
            }
        }
    }
    li.active {
        background-color: #FF0077;
    }
}

