@charset "UTF-8";

body {
    background-color: rgb(182, 243, 243);
    font: normal 15pt arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 400px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.384);
    padding: 2px;
}

footer {
    text-align: center;
    color: white;
}

div {
    padding: 3px;
}

