.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #1b1e20;

    a {
        text-decoration: none;
        color: white;
    }
}