@charset "UTF-8";

.container {
    padding: 40px;
    background-color: black;
    display: flex;
    justify-content: ;
}

.card {
    width: 300px;
    background-color: white;
    height: 180px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    
}