@charset "UTF-8";

h1 {
    color: #454545;
    background-color: #757575;
}

li {
    font-family: Verdana;
    font-size: 28px;
    text-decoration: overline;
    text-align: center;
    
}
h2 {
    font-weight: normal;
    text-align: r
}