.page{
    max-width: 400px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    margin: 0px auto;
    gap: 10px;
}
.main {
    padding: 10px;
}
.page p {
    text-align: justify;
}